#game-screen, #players, #human, #computer{
  display: flex;
  flex-direction: column;
}

.deck, [class^=card]{
  width: 100px;
  height: 150px;
  border-radius: 5%;
}

.deck{
  display: flex;
  align-items: center;
  text-align: center;
  color: #eee;
  margin: 0 auto;
}

.hand{
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^=card]{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/*
  u2660 = spade
  u2665 = heart
  u2666 = diamond
  u2663 = club
*/

.\2660, .\2663{
  border: 1px solid black;
}
.\2665, .\2666{
  border: 1px solid red;
  color: red
}

#computer .deck{
  background-color: blue;
}

#human .deck{
  background-color: red;
}

#war-btn, #flip-cards-btn{
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
  padding: 0;
}

#war-btn:focus, #flip-cards-btn:focus{
  outline: none;
}